/* =====================================
               #default  css
 =======================================*/
*{
    padding: 0;
    margin: 0;
}
.fix-width{
    max-width: 1420px;
    margin: auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}


/* =====================================
               #Header section css
 =======================================*/
 .header-section {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
}
 .header-section a{
     color: #010101;
 }
 
 /* logo  */
 .header-logo{
     width: 30%;
 }
 .logo img{
     height: 50px;
     float: left;
     margin-right: 12px;
 }
 .logo span {
    display: inline-block;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 500;
}

/* menu */
 .header-menu{
     width: 56%;
 }
 .header-menu UL{}
 .header-menu UL li{
     display: inline-block;
 }
 .header-menu UL li a {
    display: block;
    padding: 0 20px;
    font-size: 17px;
    line-height: 50px;
    font-weight: 500;
}
 .header-menu UL li:hover > a{
     color: #6278df;
 }

 /* button */
 .header-button{
     width: 14%;
 }
 .header-btn {
    border: 2px solid #6278df;
    display: inline-block;
    padding: 11px 27px;
    margin-top: 6px;
    border-radius: 8px;
    font-size: 16px;
    color: #6278df!important;
    font-weight: 700;
    transition: .4s;
}
.header-btn:hover{
    color: #fff !important;
    background-color: #6278df;
    box-shadow: 2px 2px 15px #6278df;
}
/* Dropdown menu */
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul{
    position: absolute;
    top: 120%;
    left: 0;
    width: 200px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    z-index: 2;
}
.header-menu ul li ul li{
    border-bottom: 2px solid #ddd;
    display: block;
}
.header-menu ul li:hover > ul{
    visibility: visible;
    opacity: 1;
    top: 100%;
}


/* =====================================
               #Banner section css
 =======================================*/
 .banner-section {
    background-image: url(./image/bannerimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 180px 0;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: 72px;
}
.banner-content{}
.banner-content h4{
    font-size: 26px;
    font-weight: 400;
}
.banner-content h2{
    font-size: 56px;
    font-weight: 700;
    margin: 25px 0;
}
.default-btn{
    display: inline-block;
    color: #7d7d7d;
    font-size: 21px;
    padding: 21px 30px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 7px;
    margin-right: 7px;
    transition: .4s;
}
.default-btn:hover{
    color: #fff;
    background-color: #6278df;
}
/* background overlay */
.banner-section::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
    z-index: -1;
}


/* =====================================
               #Video section css
 =======================================*/
 .banner-video{
     background-color: #f7f9ff;
     padding: 100px 0;
 }
 .banner-video-left{
     width: 48%;
 }
 .banner-content-right{
     width: 48%;
 }
 .banner-content-right h2{
     font-size: 45px;
     font-weight: 400;
     margin-bottom: 35px;
 }
 .banner-content-right p {
    color: #767676;
    font-size: 23px;
    font-weight: 300;
    line-height: 31px;
}


/* =====================================
               #Service section css
 =======================================*/
.service-section{
    background-color: #fff;
    padding: 90px 0;
}
.section-title h1{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 35px;
}
.section-title p{
    color: #767676;
    font-size: 22px;
}

.service-item{
    margin-top: 90px;
}
.service-box{
    width: 31.33%;
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.10);
    
    transition: .4s;
}
.s-icon {
    width: 60px;
    float: left;
    height: 122px;
    color: #6278df;
    font-size: 48px;
    margin-right: 15px;
}
.s-icon span{}
.s-content{
    margin-top: 9px;
}
.s-content h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 24px;
}
.s-content p{
    font-size: 21px;
    font-weight: 300;
    color: #767676;
}
.service-box:hover {
    box-shadow: 2px 2px 20px #6279df88;
    
}
